@media only screen and (min-width: 38rem) {

    /*Home page styles*/

    .homePlansSection {
        display: grid;
        grid-template-columns: auto auto;
    }

    .cxReviews {
        display:flex;
    }
 
    .cxReviews article {
        max-width: 20rem;
    }

    /*PLANS PAGE STYLES*/



    #plans article {
        width: 25rem;
    }

    .hamburger {
        display: none;
    }
  
}
