@media only screen and (min-width: 38rem) {

.places-card {
  grid-template-areas:
    "image title"
    "image caption"
    "image address"
    "image description"
    "image button";
    align-items: center;
    gap: 10px;
    max-width: 600px;

    }

    .card-img {
        width: 15rem;
    }

    /* BUTTON */
.card-button {

  /* Smooth animation */
  transition: 
    background 0.25s ease, 
    color 0.25s ease, 
    transform 0.2s ease,
    box-shadow 0.25s ease;
}

.places-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.35);
}

    

}