header {
    display: grid;
    grid-template-columns: 48px auto 44px;
    align-items: end;
    column-gap: 10px;
    background-color: black;
    color: white;
    padding: 20px;
}

header span {
    font-size: 1.3rem;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    background-color: white;
    border-radius: 10px;
}

main section {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    background-color: #ddd;
    margin-bottom: 10px;
}


.about-me {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
    font-size: 2rem;
}

nav ul {
    display: flex;
    flex-direction: column;
    
}

main section img {
    border-radius: 5px;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    
}

ul li {
    background-color: #ccc;
    padding: 10px;
}

ul li:hover {
    background-color: #ddd;
}

a {
    color: black;
    text-decoration: none;
}

.navigation {
    display:none;
}

.navigation.show {
    display: block;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}


/*COURSE BUTTONS*/
.courses {
   display: flex;
   flex-direction: row;
   justify-content: center;
   column-gap: 10px;
}

.courses button {
    padding: 10px;
    width: 8rem;
    cursor: pointer;
    border-radius: 10px;
}

.courses button:hover {
    background-color: #ddd;
}

.courseName {
    background-color: #ccc;
    padding: 10px;
    width: 12rem;
    cursor: pointer;
}


section h2 {
    background-color: black;
    padding: 10px;
    color: white;
    margin: 0;
}

.courseCont {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
}   

nav ul li.current a {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}

section .courses {
    margin: 10px 10px;
}


/*styles for the dynamic courses that have been completed and the ones that haven't*/

.courseName.completed {
  background-color: #c8f7c5; /* light green */
  border: 2px solid #2ecc71; /* darker green border */
  color: #1e824c;
}

.courseName.not-completed {
  background-color: #f9c0c0; /* light red */
  border: 2px solid #e74c3c; /* darker red border */
  color: #a83232;
}


/* MODALS CSS */

.courseModal {
    position: fixed;
    justify-items: center;
    margin-left: 30px;
    margin-right: 30px;
}

.courseModal::backdrop {
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(2px);
}

#closeModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem; 
}


