@media only screen and (min-width: 38rem) {



    header {
        grid-template-columns: 24px auto;
    }

    nav {
        display: flex;
        
    }

    main {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto;
        column-gap: 10px;
        margin: 0 5px 0 5px;
    }

    main h1 {
        grid-column: 1 / 3;
    }

    .courseSec {
        grid-column: 3/1;
    }

    .navigation {
       display: block;
       width: 100%;
       
    }

    .navigation ul {
        display: flex;
        flex-direction: row;
        background-color: #ccc;
    }

    .hamburger {
        display: none;
    }

    .courseCont {
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        column-gap: 5px;
    }

    section {
        display: flex;
        justify-content: column;
        
    }
    
    .courses {
        margin-top: 18px;
        justify-content: center;
        column-gap: 50px;
    }
    
    .aboutMe {
        display: flex;
        justify-content: center;
    }


}